# Backend
fastapi==0.115.6
uvicorn[standard]==0.34.0
python-dotenv==1.0.1
pydantic==2.10.4
pydantic-settings==2.7.0
mysql-connector-python==9.1.0
langchain-groq==0.2.3
langchain-core==0.3.28
sqlglot==26.2.1

# Frontend
streamlit==1.41.1
pandas==2.2.3
requests==2.32.3
